<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="iWPF_S06_LINQ_To_SQL.Properties.Settings.LinqToSQLConnectionString"
            connectionString="Data Source=192.168.1.106;Initial Catalog=LinqToSQL;Persist Security Info=True;User ID=sa;Password=Develop2011~"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>