@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<a href="https://localhost:7038/account/login/?returnUrl=https://localhost:7244/account/login">برو سایت خودت و جایزه بگیر</a>
