@using iCourseStore.NLayer.Core.Entities

@model List<Course>

@foreach (var course in Model)
{
    <div>
        <img src="@course.ImageUrl">
        <h4>@course.Title</h4>
        <p>@course.ShortDescription</p>
    </div>
}