@model CreateRoleModel

@{
    ViewData["Title"] = "Create Role";
}

<div class="">
    <h1 class="display-6">Create Role</h1>
    <p>User Information:</p>
</div>
@*<br />*@

<form asp-controller="Roles" asp-action="Create" method="post">
    
    <div class="text-danger" asp-validation-summary="All"></div>
    
    <div class="form-group">
        <label asp-for="RoleName"></label>
        <input class="form-control mb-1" type="text" name="rolename" value="@Model.RoleName" />
    </div>

    <input type="submit" class="btn btn-primary mb-1" value="Create" />
    <input type="reset" class="btn btn-danger mb-1" value="Reset" />

</form>

