@model LoginModel

<form asp-controller="Account" asp-action="Login" method="post">

    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="UserName"></label>
        <input type="text" asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" asp-area="" class="form-control" />
    </div>

    <div class="form-group">
        <label class="">
            <input type="checkbox" asp-for="RememberMe" /> Remember Me!
        </label>
    </div>


    <input type="hidden" asp-for="RedirectUrl" />
    <input class="btn btn-primary" type="submit" value="Login" />

</form>