<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.1054.31" targetFramework="net461" />
  <package id="Stimulsoft.Reports.Engine" version="2022.1.1" targetFramework="net461" />
  <package id="Stimulsoft.Reports.Wpf" version="2022.1.1" targetFramework="net461" />
  <package id="Stimulsoft.Svg" version="2022.1.1" targetFramework="net461" />
</packages>