@model iSecurity.BadOpenRedirection.Controllers.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<span>ورود ناموفق بود، لطفا دوباره سعی کنید</span>
<br />
<form method="post">
    <input class="form-control mb-1" type="text" asp-for="Username" />
    <input class="form-control mb-1" type="password" asp-for="Password" />
    <input class="form-control" type="hidden" asp-for="ReturnUrl" />
    <input class="btn btn-primary mb-1" type="submit" value="Login" />
</form>
